# Backend (.env)
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/focus-app
JWT_SECRET=super_secret_key_123
RAZORPAY_KEY_ID=rzp_test_123456
RAZORPAY_KEY_SECRET=secret_123456

# Frontend (.env)
VITE_API_URL=http://localhost:5000/api
